name: Nightly Job at 2AM IST

on:
  schedule:
    - cron: "30 20 * * *"   # Runs every night at 2:00 AM IST
  workflow_dispatch:

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements-file.txt


      - name: Execute Script
        run: |
          python news_scraper.py
